apikeys:
  bing:
    key:

  hunter:
    key: {{ HUNTER_API_KEY }}

  intelx:
    key: 9df61df0-84f7-4dc7-b34c-8ccfb8646ace

  securityTrails:
    key: {{ SECURITYTRAILS_API_KEY }}

  shodan:
    key: oCiMsgM6rQWqiTvPxFHYcExlZgg7wvTt
