apikeys:
  bing:
    key: "{{ BING_API_KEY | default('') }}"

  hunter:
    key: "{{ HUNTER_API_KEY | default('') }}"

  intelx:
    key: "{{ INTELX_API_KEY | default('') }}"

  securityTrails:
    key: "{{ SECURITYTRAILS_API_KEY | default('') }}"

  shodan:
    key: "{{ SHODAN_API_KEY | default('') }}"
